{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <!-- job post company Start -->
        <div class="job-post-company pt-20 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="{{ job.company_logo }}" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{ job.title }}</h4>
                                    </a>
                                    <ul>
                                        <li>{{ job.category }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ job.candidate_required_location }}
                                        </li>
                                        <li>{{ job.salary }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- job single End -->

                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{ job.description|safe }}</p>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Overview</h4>
                            </div>
                            <ul>
                                <li>Company : <span>{{ job.company_name }}</span></li>
                                <li>Posted date : <span>{{ job.publication_date }}</span></li>
                                <li>Location : <span>{{ job.candidate_required_location }}</span></li>
                                <li>Vacancy : <span>02</span></li>
                                <li>Job nature : <span>{{ job.job_type }}</span></li>
                                <li>Salary : <span>{{ job.salary }}</span></li>

                            </ul>
                            <div class="apply-btn2">
                                <a href="{{ job.url }}" class="btn" target="_blank">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
{% endblock %}