{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-20 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->

                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="count-job mb-35">
                                            <span>{{ total_jobs }} Jobs found</span>
                                            <!-- Select job items start -->
                                            <div class="select-job-items">
                                                <!-- Search Form -->
                                                <form method="GET" class="search-box">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="search"
                                                               placeholder="Search by category, title, etc."
                                                               value="{{ search_query }}">
                                                        
                                                        <button class="btn btn-outline-secondary" type="submit">Search
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!--  Select job items End-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                {% if jobs %}
                                    {% for job in jobs %}
                                        <!-- single-job-content -->
                                        <div class="single-job-items mb-30">
                                            <div class="job-items">
                                                <div class="company-img">
                                                    <a href="{% url 'job_detail' job.id %}"><img
                                                            src="{% static 'assets/img/icon/job-list1.png' %}"
                                                            alt=""></a>
                                                </div>
                                                <div class="job-tittle">
                                                    <a href="{% url 'job_detail' job.id %}"><h4>{{ job.title }}</h4></a>
                                                    <ul>
                                                        <li>{{ job.category }}</li>
                                                        <li>
                                                            <i class="fas fa-map-marker-alt"></i>{{ job.candidate_required_location }}
                                                        </li>
                                                        <li>{{ job.salary }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="items-link f-right">
                                                <a href="{% url 'job_detail' job.id %}">{{ job.job_type }}</a>
                                                <span>{{ job.publication_date }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No jobs found. Try updating your resume or adjusting your job
                                        preferences.</p>
                                {% endif %}
                            </div>
                        </section>
                        <!-- Featured_job_end -->
                        <!--- Custom pagi8nation -->
                        <div>
                <span class="step-links">
                  {% if secrets.has_previous %}
                      <a class="btn btn-primary" href="?page=1">&laquo; first</a>
                      <a class="btn btn-primary" href="?page={{ jobs.previous_page_number }}">previous</a>
                  {% endif %}
                    <span class="current">
                    Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
                  </span>

                    {% if jobs.has_next %}
                        <a class="btn btn-primary" href="?page={{ jobs.next_page_number }}">next</a>
                        <a class="btn btn-primary" href="?page={{ jobs.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Job List Area End -->
        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">

        </div>
        <!--Pagination End  -->

    </main>
{% endblock %}